





  <!-- Header Area End -->          
<div id="banner" class="banner--section" data-trigger="parallax_layers">
   <div class="banner--bg" data-bg-img="/images/banner-bg.png" data-depth="0.5"></div>
   <div class="banner--slider owl-carousel" data-carousel-autoplay="1" data-carousel-items="1" data-carousel-smartspeed="4000" data-carousel-mousedrag="1" data-carousel-nav="false" data-carousel-dots="true">
      <div class="banner--item">
         <div class="banner--bg" data-bg-img="" data-depth="0.5"></div>
         <div class="container">
            <div class="row">
               <div class="banner--content col-md-7">
                  <h2 class="h1">پیج اینستای ما را دنبال کنید...</h2>
                  <p>هر هفته در پیج آفر های عالی و قرعه کشی برگزار میشه پس فرصت رو از دست و پیج ما رو دنبال کن ...</p>
                  <a href="#services" class="btn btn-primary">ما را دنبال کنید</a>					
               </div>
               <div class="banner--img col-md-5" data-depth="0.6"><img src="/images/ad-vector2.png" alt="banner img 03" /></div>
            </div>
         </div>
      </div>
      <div class="banner--item">
         <div class="banner--bg " data-bg-img="" data-depth="0.5"></div>
         <div class="container">
            <div class="row">
               <div class="banner--img col-md-5" data-depth="0.6"><img src="/images/support-banner.png" alt="banner img 02"  /></div>
               <div class="banner--content col-md-7">
                  <h2 class="h1">پشتیبانی 24/7</h2>
                  <p>اگر مشکلی در سایت به وجود آمد و یا در نصب تابلو مشکلی ایجاد شد حتما با پشتیبانی تماس بگیرید و یا تیکت ارسال کنید، برای ارتباط با پشتیبانی کلیک کنید.</p>
                  <a href="#services" class="btn btn-primary">پشتیبانی</a>					
               </div>
            </div>
         </div>
      </div>
      <div class="banner--item">
         <div class="banner--bg" data-bg-img="" data-depth="0.5"></div>
         <div class="container">
            <div class="row">
               <div class="banner--content col-md-7">
                  <h2 class="h1">خدمات چاپ و نصب تابلو</h2>
                  <p> برای دریافت اطلاعات درباره ی خدمات چاپ و نصب تابلو با اپراتور های ما تماس بگیرید</p>
                  <a href="#services" class="btn btn-primary">تماس با اپراتور</a>					
               </div>
               <div class="banner--img col-md-5" data-depth="0.6"><img src="/images/ad-vector3.png" alt="banner img 03"/></div>
            </div>
         </div>
      </div>
      <div class="banner--item">
         <div class="banner--bg" data-bg-img="" data-depth="0.5"></div>
         <div class="container">
            <div class="row">
               <div class="banner--content col-md-7">
                  <h2 class="h1">رزرو تابلو ها</h2>
                  <p></p>
                  <a href="#services" class="btn btn-primary">تماس با ما</a>				
               </div>
               <div class="banner--img col-md-5" data-depth="0.6"><img src="/images/AB.png" alt="banner img 02"  /></div>
            </div>
         </div>
      </div>
   </div>
</div>
<script typotica type="text/javascript">( function($){
   $("head").append( "<style>#banner.sliderwrapper5bf4393377463-5429{background-color:#f2f4ff;color:;}#banner.sliderwrapper5bf4393377463-5429 .banner--content .h1{color:;}</style>" );
   })(jQuery);
</script>   


         <div class="hoskia-fluid">
            <div class="builder-page-wrapper" >
               <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                  <div id="domains"class="wpb_column vc_column_container vc_col-sm-12">
                     <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                           <div id="hoskia-section5bf439337c5b8-4709" class="hoskia--section  vc_custom_1523251468960 bg--overlay">
                              <div class="container">
                                 <div id="heading5bf439337c6ab" class="section--title mb--68  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp" >
                                    
                                    
                                 </div>
                                 <!-- Domain Extensions Start -->

                                 <div class="about-us" style="color: #000;">

                                    <div class="vector-about-us"> 
                                       <video width="370" height="290" onContextMenu="return false;" autoplay muted loop>
                                          <source src="/images/motion/CP-recovered.mp4" type="video/mp4" >
                                       </video> 
                                    </div>
                                    <div class="about-text-bar">
                                       <h2 style="color:#4e4e4e;">درباره ی ما</h2>
                                       <p>آژانس تبلیغاتی ما در سال۱۳۸۳ با مـجوز رسـمی از وزارت فـرهنگ و ارشاد
                                          اسالمی مازندران شروع به فعالیت های رسمی خود در زمینه های مختلف تبلیغاتی
                                          اعم از محیطی، مکتوب ، رسانه های تصویری و ... نموده است و در دو دهه فعالیت
                                          خود طرف قرارداد با سازمان و ارگان های مختلف در سطح کشور بوده است.</p>
                                    </div>
                                    
                                 </div>
                                 
                                 <div id="ext5bf439337c721" class="customer-bar" style="color:#ffffff">

                                    <div class="vector1"><img class="customer-vector" src="/images/customer-vector1.png" width="350px" height="350px" alt=""></div>
                                    
                                    <div class="carow-count">
                                       <h2 style="color:#4e4e4e;">مشتریان</h2>
                                       <div class="logo-section-1">
                                          <div class="logo-slider">
                                             <img src="/images/customers/264_c8744a74bec9487dfe9b04b12501b1de.png" alt="C-logo">
                                             <img src="/images/customers/1644146873bssuqbtlagegsyp.png" alt="C-logo">
                                             <img src="/images/customers/can.png" alt="C-logo">
                                             <img src="/images/customers/download.png" alt="C-logo">
                                             <img src="/images/customers/favicon.png" alt="C-logo">
                                             <img src="/images/customers/garranty-matin3.jpg" alt="C-logo">
                                             <img src="/images/customers/Logo.png" alt="C-logo">
                                             <img src="/images/customers/melli-palet.png" alt="C-logo">
                                             <img src="/images/customers/Snapp_logo.png" alt="C-logo">
                                             <img src="/images/customers/آورتا.png" alt="C-logo">
                                             <img src="/images/customers/اتاقک.png"  alt="C-logo">
                                             <img src="/images/customers/اخوان.png" alt="C-logo">
                                             <img src="/images/customers/اسکانیوم.png" alt="C-logo">
                                             <img src="/images/customers/اکتیو.png" alt="C-logo">
                                             <img src="/images/customers/انتخاب من.png" alt="C-logo">
                                             <img src="/images/customers/اویلا.png" alt="C-logo">
                                             <img src="/images/customers/بانک دی.png" alt="C-logo">
                                             <img src="/images/customers/بانک رفاه.png" alt="C-logo">
                                             <img src="/images/customers/بانک سینا.png" alt="C-logo">
                                             <img src="/images/customers/بانک شهر.png" alt="C-logo">  
                                          </div>
                                       </div>

                                          <div class="logo-section-1">
                                             <div class="logo-slider-2">
                                                <img src="/images/customers/بانک صادرات.png" alt="C-logo">
                                                <img src="/images/customers/بهمن خودرو.png" alt="C-logo">
                                                <img src="/images/customers/بیمه تجارت.png" alt="C-logo">
                                                <img src="/images/customers/تی سی ال.png" alt="C-logo">
                                                <img src="/images/customers/تیراژه دیزل.png" alt="C-logo">
                                                <img src="/images/customers/تیراژه ماشین.png" alt="C-logo">
                                                <img src="/images/customers/جی پلاس.png" alt="C-logo">
                                                <img src="/images/customers/چای گلستان.png" alt="C-logo">
                                                <img src="/images/customers/چرم مشهد.png" alt="C-logo">
                                                <img src="/images/customers/چی توز.png" alt="C-logo">
                                                <img src="/images/customers/چیپس باتو.png"  alt="C-logo">
                                                <img src="/images/customers/خوشبخت.png" alt="C-logo">
                                                <img src="/images/customers/درسا.png" alt="C-logo">
                                                <img src="/images/customers/راپیدو.png" alt="C-logo">
                                                <img src="/images/customers/رافانو.png" alt="C-logo">
                                                <img src="/images/customers/رونیکس.png" alt="C-logo">
                                                <img src="/images/customers/رویان.png" alt="C-logo">
                                                <img src="/images/customers/زرماکارون.png" alt="C-logo">
  
                                             </div>
                                          </div>

                                          <div class="logo-section-1">
                                             <div class="logo-slider-3">
                                                <img src="/images/customers/زنون.png" alt="C-logo">
                                                <img src="/images/customers/ساجیران.png" alt="C-logo">
                                                <img src="/images/customers/سان استار.png" alt="C-logo">
                                                <img src="/images/customers/سپاهان.png" alt="C-logo">
                                                <img src="/images/customers/سرای ایرانی.png" alt="C-logo">
                                                <img src="/images/customers/سمیرا.png" alt="C-logo">
                                                <img src="/images/customers/سن ایچ.png" alt="C-logo">
                                                <img src="/images/customers/شنگر.png" alt="C-logo">
                                                <img src="/images/customers/شهرفرش.png" alt="C-logo">
                                                <img src="/images/customers/طبیعت.png" alt="C-logo">
                                                <img src="/images/customers/غنچه.png"  alt="C-logo">
                                                <img src="/images/customers/فرش بهشتی.png" alt="C-logo">
                                                <img src="/images/customers/فیلیمو.png" alt="C-logo">
                                                <img src="/images/customers/کاله.png" alt="C-logo">
                                                <img src="/images/customers/کراپ.png" alt="C-logo">
                                                <img src="/images/customers/کورال.png" alt="C-logo">
                                                <img src="/images/customers/گلریز.png" alt="C-logo">
                                                <img src="/images/customers/لیدی کر.png" alt="C-logo">
                                             </div>
                                          </div>
                                    </div>
                                 </div>

                                 <script>
                                    $(document).ready(function(){
                                    $('.carow-n1').owlCarousel();
                                    });   
                                 </script>

                                 <!-- Domain Extensions End -->
                                 <script type="text/javascript">( function($){
                                    $("head").append( "<style>#ext5bf439337c721.domain--ext ul li:before{border-radius:12px; , border-color:#ffffff!important;}</style>" );
                                    })(jQuery);
                                 </script>				
                                 <!-- Domain Search Form Start -->
                                 <div class="domain-search--form  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp">
                                    
                                       <div class="input-group">
                                          

                                       </div>

                                 </div>
                                 <!-- Domain Search Form End -->
                              </div>
                           </div>
                           <script type="text/javascript">( function($){
                              $("head").append( "<style>#hoskia-section5bf439337c5b8-4709.bg--overlay:before {opacity:0.7;}</style>" );
                              })(jQuery);
                           </script>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="vc_row-full-width vc_clearfix"></div>
               <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" id="services" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                     <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                           <div class="hoskia--section  vc_custom_1525841109950">
                              <div class="container">
                                 <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                       <div class="vc_column-inner">
                                          <div class="wpb_wrapper">
                                             <div id="heading5bf439337d3da" class="section--title mb--68  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp" >
                                                <h2 >با آژانس "ما" با خیال راحت به توسعه کسب و کارتان بپردازید.</h2>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="service--items row AdjustRow">
                                    <div class="services" data-scroll-reveal="group">

                                       <%CPage.docs.forEach(CPage => {%>
                                          <div class="service--item col-md-4 col-xs-6 ">
                                              
                                              <div class="service--content">
                                                  <img class="pic--rel--like--view" src="<%= CPage.images[720] %>" alt="">
                                                  <div class="like--fav--view">
                                                      <form action="/pics/like/<%= CPage._id %>" method="post">
                                                      
                                                          <button class="like----btn" type="submit" value=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" id="Filled" viewBox="0 0 24 24" width="512" height="512"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"/></svg>
                                                          </button>  
                                                             
                    
                                                              <br><%= CPage.likes %>
                                                          </a>
                                                      </form>
                                                      <a>
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" id="view"><path d="M16 7.98c-3.787 0-7.223 1.046-9.77 2.81C3.684 12.551 2 15.1 2 17.98a1 1 0 1 0 2 0c0-2.105 1.216-4.056 3.37-5.546C9.521 10.943 12.584 9.98 16 9.98c3.415 0 6.48.963 8.633 2.454C26.786 13.924 28 15.875 28 17.98a1 1 0 1 0 2 0c0-2.88-1.682-5.428-4.229-7.19C23.225 9.025 19.787 7.98 16 7.98Z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal"></path><path d="M16 13.98c-2.75 0-5 2.25-5 5s2.25 5 5 5 5-2.25 5-5-2.25-5-5-5zm0 2c1.669 0 3 1.332 3 3 0 1.67-1.331 3-3 3s-3-1.33-3-3c0-1.668 1.331-3 3-3z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal"></path></svg>
                                                          <br><%= CPage.views %>
                                                      </a>
                                                  </div>
                                                  <h1 class="h3"><%= CPage.typeOfPosts() %></h1>
                                                  <div class="textbar-body">
                                                      <ul>
                                                          <li class="address-flex">موقعیت سازه :  <span style="color: red;"><%= CPage.address %></span> </li>
                  
                                                      </ul>

                                                      <ul class="status-value">
                                                          <li>وضعیت : <%= CPage.statusValue() %></li>
                                                      </ul> 
                                                      <ul class="status-align">
                                                          <% if(CPage.statusValue() === 'در حال اکران') { %>
                                                              <li> برند در حال اکران : <span style="color: red;"><%= CPage.title %></span></li>
                                                          <% } else { %>
                                                              <li> <span style="color: #02ca4f">تابلو خالی است </span> </li>
                                                          <% } %>
                                                      </ul>
                                                  </div>
                                                  <div class="bills-buttons">
                                                      <a class="btn btn-default btn-sm" href="<%= CPage.location %>">لوکیشن سازه</a>
                                                      <div>
                                                          <!-- <input type="button" onclick="openinfoBox(event , 'H2')" value="اطلاعات بیشتر" id="loc-btn" class="btn btn-success btn-sm bc-green"> -->
                                                          <a class="btn btn-success btn-sm bc-green" href="/pics/<%= CPage._id %>">اطلاعات بیشتر</a>
                                                      </div>
                                                  </div>
                                                  <p class="text-muted" style="direction: ltr; text-align: center;"><%= date(CPage.createdAt).format('jYYYY jM jD') %> آخرین بروزرسانی</p>                              
                                              </div>
                                          </div>
                  
                  
                  
                  
                          <%})%>
                                       <div class="building-page-btn"><a href="/pics" class="btn btn-default btn-sm">مشاهده ی بیشتر سازه ها</a></div>

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>               
               <div class="vc_row-full-width vc_clearfix"></div>
            </div>
         </div>
         <!-- Contact Info Area Start -->
         <div id="contactInfo">
            <div class="container">
               <!-- Contact Info Wrapper Start -->
               <div class="contact-info--wrapper">
                  <div class="row reset-gutter">
                     
                        <!-- Contact Info Item Start -->
                        
                        <!-- Contact Info Item End -->
                     
                     
                        <!-- Contact Info Item Start -->
                        
                        <!-- Contact Info Item End -->
                     
                     
                        <!-- Contact Info Item Start -->
                        
                        <!-- Contact Info Item End -->
                     
                  </div>
               </div>
               <!-- Contact Info Wrapper End -->
            </div>
         </div>
         <!-- Contact Info Area End -->
 




