<!DOCTYPE html>
<html lang="fa-IR" prefix="og: http://ogp.me/ns#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- defineContent('title') || 'آژانس تبلیغاتی ما'  %></title>
    <meta http-equiv="Content-Language" content="fa-IR" />
    <meta name="Rating" content="General" />
    <meta name="Revisit-After" content="15 Days" />
    <meta name="Expires" content="Never" />
    <meta name="Distribution" content="Global" />
    <meta name="Doc-Class" content="Living Document" />
    <meta property="og:image" content="og.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="HiTechno" />
    <meta property="og:url" content="index.html" />
    <meta property="og:type" content="website" />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel='stylesheet' id='megamenu-css' href='/css/megano.css' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='/css/dashicons.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/hitechno//css/stackicons-social.css" media="all" />
    <link rel='stylesheet' id='bootstrap-css' href='/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='/css/owl.carousel.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css-css' href='/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='hitechno-css' href='/css/MA.css' type='text/css' media='all' />
    <link rel='stylesheet' id='hitechno-responsive-css' href='/css/responsive-style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='hitechno-style-css' href='/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='/css/js_composer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='color-schemes-css' href='/css/color-schemes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='color-schemes-inline-css' href='/css/other-styles.css' type='text/css' />
    <script type="text/javascript" src="/js/all.js"></script>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/js/micromodal.min.js'></script>
    <link rel="icon" href="/images/logo1.png" sizes="32x32" />



    <!-- css.gg -->
    <link href="https://css.gg/css" rel="stylesheet" />

    <!-- UNPKG -->
    <link href="https://unpkg.com/css.gg/icons/icons.css" rel="stylesheet" />

    <!-- JSDelivr -->
    <link href="https://cdn.jsdelivr.net/npm/css.gg/icons/icons.css" rel="stylesheet" />



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127049756-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-127049756-2');
    </script>
</head>

<body
    class="home page-template page-template-template-builder page-template-template-builder-php page page-id-633 woocommerce-no-js mega-menu-primary-menu wpb-js-composer js-comp-ver-5.5.5 vc_responsive">
    <div id="preloader">
        <div class="preloader--spinner"></div>
    </div>
    <div class="wrapper">
        <!-- Header Area Start -->
        <header id="header">
            <!-- Header Topbar Start -->
            <div class="header--topbar">
                <div class="container">
                    <ul class="header--social nav navbar-nav hidden-xs">
                        <li><a href="" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="/" target="_blank"><i class="fab fa-discord"></i></a></li>
                        <li><a href="https://instagram.com/ma__agency/" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                    </ul>
                    <ul class="header--contact-info nav navbar-nav navbar-right">
                        <li><a href="tel:+989357974134"><i class="fa fm fa-phone-square"></i>444 31 696</a></li>
                        <li class="hidden-xxs"><a href="manimaniwww81@Gmail.com"><i
                                    class="fa fm fa-envelope"></i>maagency67@gmail.com</a></li>
                    </ul>
                    <ul class="header--mobile-style">
                        <li><a href="/"><i class="fas fa-solid fa-house"></i></a></li>
                        <li><a href="/pics"><i class="fas fa-solid fa-dice-four"></i></a></li>
                        <li><a href="/user-panel"><i class="fas fa-solid fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- Header Navbar Start -->
            <nav class="header--navbar navbar bg-color--alabaster" data-sticky="true">
                <div class="container">
                    <div class="nav-count">
                            <!-- Header Navbar Header Start -->
                            
                            <div href="/" class="header--logo navbar-brand"><img src="/images/logo1.png" alt="logo" width="70px" height="70px">MA Agency</div>
                            <div class="navbar-header">
                                <!-- Header Navbar Toggle Button Start -->
                                    
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#headerNav">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                <!-- Header Navbar Toggle Button End -->
                            </div>

                            <div id="headerNav" class="header--nav navbar-collapse collapse NavHoverIntent">

                                <div id="mega-menu-wrap-primary-menu" class="mega-menu-wrap">
                                    <div class="mega-menu-toggle" tabindex="0">
                                        <div class="mega-toggle-blocks-right"></div>
                                        <div class="mega-toggle-blocks-center"></div>
                                        <div class="mega-toggle-blocks-left">
                                            <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1'
                                                id='mega-toggle-block-1'><span class='mega-toggle-label'><span
                                                        class='mega-toggle-label-closed'>منو</span><span
                                                        class='mega-toggle-label-open'>منو</span></span></div>
                                        </div>
                                    </div>
                                    <ul id="mega-menu-primary-menu"
                                        class="navbar-flex-change mega-menu max-mega-menu mega-menu-horizontal mega-no-js "
                                        data-event="hover_intent" data-effect="fade_up" data-effect-speed="200"
                                        data-effect-mobile="disabled" data-effect-speed-mobile="200"
                                        data-mobile-force-width="false" data-second-click="close" data-document-click="collapse"
                                        data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true">
                                        <li
                                            class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-align-bottom-left mega-menu-flyout'>
                                            <a class="mega-menu-link" href="/" tabindex="0">صفحه اصلی</a></li>
                                        <li
                                            class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-right mega-menu-flyout'>
                                            <a class="mega-menu-link" href="#" aria-haspopup="true" tabindex="0">خدمات <span
                                                    class="mega-indicator"></span></a>
                                            <ul class="mega-sub-menu">
                                                <li
                                                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="#">تبلیغات محیطی</a></li>
                                                <li
                                                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="#">موشن گرافیک</a></li>
                                                <li
                                                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="/">تابلو های قابل اکران </a></li>

                                            </ul>
                                        </li>
                                        <li
                                            class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-right mega-menu-flyout'>
                                            <a class="mega-menu-link" href="/pics" tabindex="0"> گالری </a></li>
                                        <li
                                            class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-right mega-menu-flyout'>
                                            <a class="mega-menu-link" href="/customers" tabindex="0">مشتریان</a></li>
                                        <li
                                            class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-right mega-menu-flyout'>
                                            <a class="mega-menu-link" href="/" tabindex="0">همکاری با ما</a></li>
                                        <li
                                            class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-right mega-menu-flyout'>
                                            <a class="mega-menu-link" href="#" aria-haspopup="true" tabindex="0">تماس با ما<span
                                                    class="mega-indicator"></span></a>
                                            <ul class="mega-sub-menu">
                                                <li
                                                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="/tickets"> تماس با مدیریت </a></li>
                                                <li
                                                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="/tickets"> ارسال تیکت </a></li>



                                            </ul>
                                            
                                        </li>


                                    </ul>  
                                </div>
                            </div>


















                            <div class="client-flex">

                                <div id="mega-menu-wrap-primary-menu" class="mega-menu-wrap">
                                    <div class="mega-menu-toggle" tabindex="0">
                                        <div class="mega-toggle-blocks-right"></div>
                                        <div class="mega-toggle-blocks-center"></div>
                                        <div class="mega-toggle-blocks-left">
                                            <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1'
                                                id='mega-toggle-block-1'><span class='mega-toggle-label'><span
                                                        class='mega-toggle-label-closed'>منو</span><span
                                                        class='mega-toggle-label-open'>منو</span></span></div>
                                        </div>
                                    </div>
                                    <ul id="mega-menu-primary-menu"
                                        class="navbar-flex-change mega-menu max-mega-menu mega-menu-horizontal mega-no-js "
                                        data-event="hover_intent" data-effect="fade_up" data-effect-speed="200"
                                        data-effect-mobile="disabled" data-effect-speed-mobile="200"
                                        data-mobile-force-width="false" data-second-click="close" data-document-click="collapse"
                                        data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true">
                                     
                                     
                                        <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-right mega-menu-flyout'>
                                            <% if(auth.check) { %>
                                                
                                                <a class="mega-menu-link" style="font-size: 18px; padding: 0;" href="#" aria-haspopup="true" tabindex="0">     <%= auth.user.name %>      <i class="fas fa-solid fa-user"></i>
                                            <% } else {%>
                                                <a class="mega-menu-link" style="font-size: 18px; padding: 0;" href="#" aria-haspopup="true" tabindex="0">    عضویت | ورود          <i class="fas fa-solid fa-user"></i>
                                            <% } %>
                                                <span class="mega-indicator"></span></a>
                                            <ul class="mega-sub-menu">
                                                <% if(auth.check) { %>
                                                    <% if(auth.user.admin == true) {%>
                                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                            <a class="mega-menu-link" href="/admin/panel">  پنل ادمین  </a>
                                                        </li>
                                                    <% } %>
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="/user-panel">  پنل کاربری  </a>
                                                </li>
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                    <a class="mega-menu-link" href="/logout">  خروج </a>
                                                </li>
                                                <% } else { %>
                                                    <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                        <a class="mega-menu-link" href="/auth/login">  ورود   </a>
                                                    </li>
                                                    <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page'>
                                                        <a class="mega-menu-link" href="/auth/register">  عضویت </a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                            
                                        </li>


                                    </ul>  
                                </div>





                                <!-- <ul>
                                    
                                    <li><a class="btn btn-danger btn-sm ml-2" href="/user-panel">پنل کاربری</a></li>
                                    <li><a class="btn btn-danger btn-sm" href="/logout">خروج</a></li>       
                                    
                                    <li><a class="btn btn-success btn-sm ml-2" href="/auth/login">ورود</a></li>
                                    <li><a class="btn btn-primary btn-sm" href="/auth/register">عضویت</a></li>       
                                    
                                </ul>  -->
                                <!-- <ul>
                                    <% if(auth.check) { %>
                                    <li class="user-name" style="color: black ; text-align: center;"><a href="/user-panel"><%= auth.user.name %><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="user"><rect width="2" height="2" fill="none"></rect><circle cx="128" cy="96" r="64" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" d="M30.989,215.99064a112.03731,112.03731,0,0,1,194.02311.002"></path></svg></i></a></li>
                                    <% } %>
                                </ul> -->
                            </div>
                            <!-- Header Nav End -->
                    </div>
                </div>
            </nav>
            <!-- Header Navbar End -->
        </header>























                                        <%- body %>































        <footer id="footer" class="footer--section">

            <div class="container">
                <div class="footer-row-section" data-scroll-reveal="group">

                    <div class="footer-content">

                        <ul>
                            <li>
                                <h4 class="h4 footer--title">راه های ارتباطی</h4>
                            </li>
                            <li><a href="#"><i><img src="/images/map-marker.svg" width="16" height="16"
                                            alt="ic1"></i>آدرس : ساری - خیابان فرهنگ - خیابان توکل - توکل ۲ - پلاک ۶</a>
                            </li>
                            <li><a href="tel:+989357974134"><i class="fa fm fa-phone-square"></i>444 31 696</a></li>
                            <li class="hidden-xxs"><a href="manimaniwww81@Gmail.com"><i
                                        class="fa fm fa-envelope"></i>maagency67@gmail.com</a></li>
                        </ul>
                    </div>

                    <div class="footer-content">
                        <ul>
                            <li>
                                <h4 class="h4 footer--title">میانبر</h4>
                            </li>
                            <li><a href="/tickets"><i><img src="/images/comments-question.svg" width="16" height="16"
                                            alt=""></i>ارسال تیکت</a></li>
                            <li><a href="/tickets"><i><img src="/images/chart-user.svg" width="16" height="16" alt=""></i>تماس
                                    با مدیریت</a></li>
                            <li><a href="#"><i><img src="/images/mode-landscape.svg" width="16" height="16"
                                            alt="ic1"></i>تصاویر سازه ها</a></li>
                        </ul>
                    </div>

                    <div class="footer--widget">

                        <h4 class="h4 footer--title">نمادهای ما</h4>
                        <div class="logoes-footage">
                            <ul>
                                <li> </li>
                                <li><img src="/images/لوگو وندادگستر.png" width="75px" height="75px" alt="vandad"
                                        onContextMenu="return false;"></li>
                                <li><img src="/images/پاکت پارس سورنا جلد.png" width="75px" height="75px" alt="pars"
                                        onContextMenu="return false;"></li>
                                <li><img src="/images/logo2.png" width="75px" height="75px" alt="logo ma"
                                        onContextMenu="return false;"></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <script src="/js/sweetalert2.all.min.js"></script>


            <% let sweetalert = req.flash('sweetalert') %>
            
            <% if(sweetalert.length) { %>
               <% let data = sweetalert[0];%>
                <script>
                    Swal.fire({
                        icon: "<%= data.type %>",
                        title: "<%= data.title %>",
                        text: "<%= data.message %>",
                        showConfirmButton : true,
                        confirmButtonText : '<a style="color: #fff;" href="#">ok</a>'
                    });
                </script>
            
            <% } %>
            <!-- Footer Copyright Start -->
            <div class="footer--copyright">
                <div class="container">
                    <p> تمام حقوق مادی و معنوی برای <a href="#">آژانس تبلیغاتی ما</a> محفوظ میباشد.</p>
                    <div class="menu-footer-container">
                        <ul id="menu-footer" class="footer--menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page depth-0"><a
                                    title="About" href="#">درباره ما</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page depth-0"><a title="FAQ"
                                    href="#">اینستاگرام</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom depth-0"><a
                                    title="Support" href="/tickets">پشتیبانی</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <div id="backToTop">
            <a href="/" class="AnimateScrollLink"><i class="fa fa-angle-up"></i></a>
        </div>


    </div>
    <!-- Wrapper End -->
    <script type='text/javascript' src='/js/information-popup.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/js/jquery.sticky.js'></script>
    <script type='text/javascript' src='/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='/js/hoverIntent.min.js'></script>
    <script type='text/javascript' src='/js/animatescroll.min.js'></script>
    <script type='text/javascript' src='/js/parallax.min.js'></script>
    <script type='text/javascript' src=/js/scrollreveal.min.js'></script>
    <script type='text/javascript' src='/js/core.mind41d.js?'></script>
    <script type='text/javascript' src='/js/mouse.min.js'></script>
    <script type='text/javascript' src='/js/slider.min.js'></script>
    <script type='text/javascript' src='/js/main.js'></script>
    <script src="/js/dist_feather.min.js"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var megamenu = {
            "timeout": "30", "interval":

                "100"
        };
        /* ]]> */
    </script>

    <script type='text/javascript' src='/js/maxmegamenu.js'></script>
    <script type='text/javascript' src='/js/front.js'></script>
    <script type='text/javascript' src='/js/js_composer_front.min.js'></script>
    <script type='text/javascript' src='/js/waypoints.min.js'></script>
    <script type='text/javascript' src='/js/jquery.counterup.js'></script>
</body>


</html>